.benefits__title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
       text-align:center; 
    }
    
}

.benefits__description {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.benefits__icon {
    height: 120px;
    background-color: var(--primary-button-color);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:480px) {
        width: 450px;
    }
    
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 354px;
    }
    @media screen and (min-width:1200px) {
        width: 270px;
    }

}

.benefits__svg {
    width: 70px;
    height: 70px;
}

.benefits{
       @extend %list;

     @media screen and (min-width:480px) {
       display: block;
    }
    
     @media screen and (min-width:768px) and (max-width:1199px){
     display: flex;
    flex-wrap: wrap;
    gap: 30px;
       }
        @media screen and (min-width:1200px) {
       display: flex;

    }
}

.benefits__item {
    @media screen and (max-width:767px) {
       width: 450px;
   
     @media screen and (min-width:768px){
    flex-basis: calc((100% - 30px) / 2);
    display: block;
        }

    }
     @media screen and (min-width:1200px) {
flex-basis: calc((100% - 90px) / 4);
    }
}

.benefits__item:not(:last-child) {
    

    @media screen and (max-width:767px){
        margin-bottom: 30px;
    }   
    

    @media screen and (min-width:1200px){
       margin-right: 30px;
    }   
}
// .benefits__item{
//      @media screen and (min-width:768px) and (max-width:1199px){
//         margin-right: 30px;
//     }  
// }
// .benefits__item:nth-child(2n){
//      @media screen and (min-width:768px) and (max-width:1199px){
//         margin-right: 0;
//     }  
// }
// .benefits__item:not(:nth-last-child(-n + 2)) {
//     @media screen and (min-width:768px) and (max-width:1199px){
//        margin-bottom: 30px;
//     }
// }