.benefits__title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
    
    @media screen and (max-width:767px) {
       text-align:center; 
    }
    
}

.benefits__description {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.benefits__icon {
    height: 120px;
    background-color: var(--primary-button-color);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:479px) {
        width:100%;
    }

    @media screen and (min-width:480px) {
        width: 100%;
    }
    
    @media screen and (min-width:768px){
        width: 354px;
    }
    @media screen and (min-width:1200px) {
        width: 270px;
        
    }

}

.benefits__svg {
    width: 70px;
    height: 70px;
}

.benefits{
       @extend %list;

     @media screen and (max-width:767px) {
       display: block;
    }
    
     @media screen and (min-width:768px) {
     display: flex;
    flex-wrap: wrap;
    gap: 30px;
       }
     @media screen and (min-width:1200px) {
    flex-wrap: nowrap;
    }
}

.benefits__item {
  
    @media screen and (max-width:767px){
       width: 100%;
    }
     @media screen and (min-width:768px){
    flex-basis: calc((100% - 30px) / 2);
    
        }
    
     @media screen and (min-width:1200px) {
    flex-basis: calc((100% - 90px) / 4);    }
}

.benefits__item:not(:last-child) {
    

    @media screen and (max-width:767px){
        margin-bottom: 30px;
    }   
  }
