 .hero {display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-background-color);

 }
 .hero_container{
  
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.hero_container__hero-title{
 margin-bottom: 30px;
}
 .hero__overlay {
     height: 400px;
     max-width: 480px;
     margin: 0 auto;
     background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)), url(../images/hero-mobile1x.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;    
 }
 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero__overlay {
         background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
            url(../images/hero-mobile2x.jpg);
     }    
 }
  @media screen and (min-width:768px) {
      .hero__overlay {
          height: 400px;
          max-width: 768px;
          margin: 0 auto;
          background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)), url(../images/hero-tablet1x.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
      }
       @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero__overlay {
         background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
            url(../images/hero-tablet2x.jpg);
     }
     }
  }
  @media screen and (min-width:1200px) {
      .hero__overlay {
          height: 600px;
          max-width: 1600px;
          margin: 0 auto;
          background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)), url(../images/hero-desktop1x.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

      }
       @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero__overlay {
         background-image: linear-gradient(to right, rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
            url(../images/hero-desktop2x.jpg);
     }
    
 }
  }


 .hero__title {
     width: 360px;
     height: 84px;
     color: var(--primary-white-color);
     font-weight: 900;
     font-size: 26px;    
     line-height: 1.62;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     

    @media screen and (min-width:1200px) {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;   

    }
    
    
 }

 
 .hero__button {
     padding: 10px 24px;
    margin: 0 auto;
     @media screen and (min-width:1200px) {
        padding: 10px 32px;
     }
 }