.mobile-menu{
   display: none;


    &.is-open{
        display: flex;
           }

    &__social{
       display: flex; 

    }
}   

.mobile-menu__container{
    display: flex;
    flex-direction: column;
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: var(--primary-white-color);
    padding: 48px 40px;
    overflow-y: scroll;
}
.mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--primary-white-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    &:focus,
    &:hover {
        fill: var(--accent-color);
    }
}

.mobile-menu__nav,
.mobile-menu__site-nav,
.mobile-menu__contacts,
.mobile-menu__social {
@extend %list;
}

.mobile-menu__nav{
    margin-bottom: auto;
}
.mobile-nav__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: left;

    &:focus,
    &:hover {
        fill: var(--accent-color);
    }

    &--current {
        color: var(--accent-color);
    }

}

.mobile-nav__item:not(:last-child){
margin-bottom: 32px;
}
.mobile-nav__item:last-child{
margin-bottom: auto;
}


.mobile-contacts__link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: left;

    &:focus,
    &:hover {
        fill: var(--accent-color);
    }

    &--blue {
        color: var(--accent-color);
        font-size: 34px;
        line-height: 1.176;
    }

}
.mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-contacts__item:last-child {
    margin-bottom: 64px;
}

.mobile-social__link {
    display:inline-block;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: left;
   }

.mobile-social__item{

    border-right: 1px solid rgba(33, 33, 33, 0.2);        
    padding: 10px;
   &:last-child{
    border-right: none;
   }
   &:first-child{
    padding-left: 0;
   }
}

