.staff {
    background-color: var(--primary-button-color);
}

.staff__name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.staff__profession {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.staff {
    display: flex;
    @extend %list;

    @media screen and (max-width:767px) {
            display:block;
        }
                 @media screen and (min-width:768px) and (max-width:1599px) {
                     display: flex;
                     flex-wrap: wrap;
                 }

}

.staff__item:not(:last-child) {
    

    @media screen and (max-width:767px) {
            margin-bottom: 30px;
        }
                @media screen and (min-width:1600px) {
                    margin-right: 30px;
}
}
.staff__item{
    @media screen and (min-width:768px) and (max-width:1599px) {
           margin-right: 30px;

        }
}
.staff__item:nth-child(2n){
    @media screen and (min-width:768px) and (max-width:1599px) {
           margin-right: 0;
        }
}

.staff__item:not(:nth-last-child(-n + 2)) {
    @media screen and (min-width:768px) and (max-width:1599px) {
         margin-bottom: 30px; 
        }
}

.staff__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
}

.staff__info {
    padding: 30px 0;
    text-align: center;
   
    @media screen and (max-width:767px) {
       width: 450px; 
    }
    @media screen and (min-width:768px) and (max-width:1599px){
        width: 354px;
}
 @media screen and (min-width:1200px) {
     width: 270px;
 }
}

.staff__photo{

@media screen and (max-width:767px) {
       width: 450px; 
    }
@media screen and (min-width:768px) and (max-width:1599px) {
        width: 354px;
}

}
    
