:root {
    --black-color: #000000;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --primary-button-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --contacts-basement-color: rgba(255, 255, 255, 0.6);
    --border-cart-color: #eeeeee;
    --icons-color: #AFB1B8;
}